    {{>navegacion}}

<div class="container pt-4">


    <div class="row">
        <div class="col-md-6 mx-auto">
            <form id="formnulario" action="/servicio/addservicio" method="POST" class="card card-body">
                <div>
                    <h1 class="mb-4">servicio Tecnico</h1>
                </div>
                <div class="form-group">
                    <select class="custom-select" _msthash="2736318" _msttexthash="1130220" name="tipo" id=""
                        class="mb-4">
                        <option selected="" _istranslated="1">tipo de dispositivo</option>
                        <option value="1">movil</option>
                        <option value="2">tablet</option>
                        <option value="3">computadora de mesa</option>
                        <option value="4">laptop</option>
                        <option value="5">consola de videojuegos</option>
                    </select>

                </div>
                <div>
                    <input type="text" name="nombre_cliente" class="form-control mb-4" placeholder="nombre del cliente">
                </div>
                <div>
                    <input type="text" name="cedula" class="form-control mb-4" placeholder="cedula de identidad">
                </div>
                <div>
                    <input type="text" name="marca" class="form-control mb-4" placeholder="marca">
                </div>
                <div>
                    <input type="text" name="modelo" class="form-control mb-4" placeholder="modelo">
                </div>
                <div>
                    <input type="text" name="falla" class="form-control mb-4" placeholder="estado actual">
                </div>

                <div class="btn-group" role="group" aria-label="Ejemplo básico" _mstaria-label="254332">
                    <button class="btn btn-primary btn-lg">REGISTRAR</button>
                </div>

            </form>
        </div>
    </div>
</div>   


