    {{>navegacion}}

<div class="container pt-4">

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="" method="POST" class="card card-body" >
                    <div>
                        <h1 class="mb-4">detalles</h1>
                    </div>
                    
                    <div>
                        <input type="text" value="{{link.reparaciones_hechas}}" name="reparaciones_hechas" class="form-control mb-4" placeholder="Reparaciones Hechas">
                    </div>  
                    <div>
                        <h1>{{link.nombre_cliente}}</h1>
                    </div>  
                    <div class="btn-group" role="group" aria-label="Ejemplo básico" _mstaria-label="254332">
                        <a href="/servicio/historialDBispositivos" class="btn btn-primary btn-lg">hecho</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>