    {{>navegacion}}

<div class="container p-4">
  <div class="rows">
    <div class="col md-3">
      <form action="submit">
  <button formaction="/addherramienta" class="btn btn-danger" type="submit">agregar una herramienta</button>
</form>
    </div>
  </div>
</div>



