<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema de mantenimiento</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {{!-- <link rel="stylesheet" href="/md/bootstrap.min.css"> --}}
    {{!-- <link rel="stylesheet" href="/css/main.css"> --}}
    <link rel="stylesheet" href="/md/bootstrap.css">
    <link rel="stylesheet" href="/md/mdb.css">
    <link rel="stylesheet" href="/md/styles.css">



</head>
<body>
 
    {{>mensajes}}
    {{{body}}}
<script src="/md/jquery.js"></script>
<script src="/md/popper.js"></script>
{{!-- <script src="/md/bootstrap.min.js"></script>   --}}
<script src="/md/bootstrap.js"></script>  
<script src="/md/mdb.js"></script>  
<script src="/css/validacion.js"></script>  
 
</body>
</html>